{% extends "base.html.twig" %}

{% block title %}List of items set{% endblock %}
{% block content %}
    <h2>List of Item Sets </h2>
    <div class="col-sm-12">
        <label>
            <input type="checkbox" id="strict"> Mode strict
        </label>
    </div>
    <div class="col-sm-4">
        <label for="map-restrict" class="control-label">Map</label>
        <select class="form-control" id="map-restrict">
            {% for key,value in map.getAllWithFullName() %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <label for="mode-restrict" class="control-label">Mode</label>
        <select class="form-control" id="mode-restrict">
            {% for key,value in mode.getAllWithFullName() %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <label for="champion-restrict" class="control-label">Champion</label>
        <select class="form-control" id="champion-restrict">
            <option value="any">All champions</option>
            {% for champion in champions %}
                <option value="{{ champion.get('key') }}">{{ champion.get('name') }}</option>
            {% endfor %}
        </select>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Map</th>
                <th>Mode</th>
                <th>Champion</th>
            </tr>
        </thead>
        <tbody>
            {% for itemSet in list %}
            <tr class="entry" data-map="{{ itemSet.map }}" data-mode="{{ itemSet.mode }}" data-champion="{{ itemSet.champion.get('key') }}">
                <td><a href="{{ url('itemset', 'view', { id : itemSet.id }) }}">{{ itemSet.title }}</a></td>
                <td>{{ static_method('Nitixx\\Models\\Map','getFullName', [ itemSet.map ]) }}</td>
                <td>{{ static_method('Nitixx\\Models\\Mode','getFullName', [ itemSet.mode ]) }}</td>
                <td>{{ itemSet.champion.get('name') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


